<h1>About Me</h1>

<h2>Who am I?</h2>
<p>As a Brazilian 🇧🇷 born, Chilean 🇨🇱 raised individual, I have always been drawn to challenges and using my skills for problem-solving. This is likely why I have always had a passion for the field of engineering and computer science.</p>
<p>My hobbies are watching/playing football ⚽️ and video games 🎮, and coding 💻. I also enjoy reading books 📚, having read some classics like the Harry Potter series, some Jules Verne classics, and A Game of Thrones.</p> 

<h2>My Skills</h2>
<b>Languages</b>
<p>Python – JavaScript – C – SQL – HTML – CSS – R – Ruby – LaTeX – ASP – English – Spanish</p>

<b>Technologies</b>
<p>Ruby on Rails – Angular – PHP – WordPress – Django – AWS – Azure – Clingo </p>

<b>Machine Learning</b>
<p>OpenAI – BLOOM – Fine-tune – TensorFlow – PyTorch – Scikit Learn – Transformers</p>

