<h1>Academic</h1>

<h3>Craighouse School</h3>
<ul>
    <li> Highest Score on Stanford Math Competition in Chile </li>
    <li> Debate team: Represented Chile in a Latin America Model United Nations. </li>
    <li> International Baccalaureate (IB): 7 Physics HL - 6 Math HL – English & Spanish Bilingual Diploma </li>
    <li> Chilean High School GPA: 6.95 / 7 </li>
    <li> PSU, former Chilean SAT (out of 850): GPA 824 – Ranking 850 – Spanish 708 – Math 811 – Science 817 </li>
    <li> Two-time Regional Physics Competition Champion. </li>
    <li> Elected as Prefect by professors and peers. </li>
</ul>

<h3>Pontificia Universidad Católica</h3>
<ul>
    <li> Pursuing a Bachelor of Science in Engineering with a Computer Science major and Electrical Engineering minor. </li>
    <li> Teacher assistant in Introduction to Programming. </li>
    <li> Teacher assistant in Data Structures & Algorithms. </li>
    <li> Chilean College GPA: 6.2 / 7 </li>
    <li> Highest Score on the Engineering Fundamentals Exam 2021-1 </li>
</ul>