<h1>Experience</h1>

<!-- <dl>
    <dt>sofIA</dt>
    <dd>Pretty Code
        {% include prettycode.html %}</dd>
        <dd>Lolazo</dd>

    <dt>Morgawr</dt>
    <dd>A sea serpent.</dd>

    <dt>Owlman</dt>
    <dd>A giant owl-like creature.</dd>
</dl> -->
<h3>Edutecno</h3>
<b>Software Engineer</b>
<p>Engineered the frontend and backend of a software that utilizes AI to automatically generate coding lessons</p>
{% include prettycode.html %}
<b>AI Developer</b>
<p>Implemented a Semantic Search, so the AI can answer based on a corpus of data (.pdf, .txt, .docx, etc.)</p>
<p>Contributed to the development of an NLP model that not only provides theoretical knowledge but also enables the user to apply it in real-world situations, fulfilling the principles of teaching design.</p>

<h3>NeoSer</h3>
<b>Web Developer</b>
<p>Improved web page by updating database, revamping visual design, and incorporating UX/UI best practices.</p>
<b>Software Engineer</b>
<p>Developed a software that seamlessly connects store sales with the billing system.</p>

<h3>MIT Human-Centered AI & Visualization Research Workshop</h3>
<b>Member of the Student Cohort</b>
<p>Attended a conference featuring lectures from MIT academics and AI experts on the topic of Human-Centered AI. Discussions included the application of AI in natural language processing, medicine (such as anomaly detection in radiographies), and neurology (for use in Brain-Computer Interfaces). Additionally, learned effective methods for visualizing information.</p>

<h3>Remarkable College Coursework Proyects</h3>
<b>Web applications</b>
<ul>
    <li>Developed a web-based carpool app for college campuses.</li>
    <li>Engineered a website and its associated database for tracking information about music artists, producers, events, and festivals.</li>
</ul>
<b>AI</b>
<ul>
    <li>Created and trained a machine learning model to predict the Olympic sport depicted in input images.</li>
    <li>Implemented reinforcement learning to train an AI to play Flappy Bird.</li>
    <li>Trained a model using Support Vector Machines to recognize characters presented as input.</li>
    <li>Developed an algorithm that automatically organizes schedules based on given restrictions, using the answer set programming (ASP) paradigm.</li>
</ul>
<b>Electronics and Robotics</b>
<ul>
    <li>Designed and built a robot capable of playing (basic) football.</li>
    <li>Build a radio from basic components.</li>
</ul>





