<h1>Experience</h1>

<!-- <dl>
    <dt>sofIA</dt>
    <dd>Pretty Code
        {% include prettycode.html %}</dd>
        <dd>Lolazo</dd>

    <dt>Morgawr</dt>
    <dd>A sea serpent.</dd>

    <dt>Owlman</dt>
    <dd>A giant owl-like creature.</dd>
</dl> -->
<h3>Edutecno</h3>
<b>Software Engineer</b>
<p>Engineered the frontend and backend of the AI-powered coding lesson generation feature on the Sophia website.
<!-- <br><button id="myBtn">Try it!</button> -->
</p> 
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        lolazo
        <!-- {% include prettycode.html %} -->
    </div>
</div>
{% include prettycode.html %}
<p>Led a team in the implementation of Semantic Search, enabling an AI to answer questions based on a large corpus of data</p>
<h3>NeoSer</h3>
<b>Web Developer</b>
<p>Collaborated with the marketing team to improve the web page by updating the database, revamping the visual design, and incorporating UX/UI best practices.</p>

<h3>MIT Human-Centered AI & Visualization Research Workshop</h3>
<b>Member of the Student Cohort</b>
<p>Attended a conference featuring lectures from MIT academics and AI experts on the topic of Human-Centered AI. Discussions included the application of AI in natural language processing, transparent AI decision-making (explain the reasoning behind AI diagnoses in medical imaging), and brain signals understanding (useful for Brain-Computer Interfaces). Additionally, learned effective methods for visualizing information. Participated in collaborative group activities where I effectively communicated and demonstrated my knowledge on the topic, fostering an inclusive environment for the exchange of ideas and contributions within the student cohort.</p>

<h3>Remarkable College Coursework Projects</h3>
<b>Technical Leader in Mobile Development in Capstone</b>
<ul>
    <li>Led a team of students in the development of a mobile product for a real client. During this role, I not only had to showcase my technical abilities but also demonstrate strong social skills by effectively communicating with other teams involved in the project and maintaining clear communication with the client.</li>
</ul>

<b>Web applications</b>
<ul>
    <li>Developed a web-based carpool app for college campuses.</li>
    <li>Engineered a website and its associated database for tracking information about music artists, producers, events, and festivals.</li>
    <li>Created a website for a Fantastic Mr. Fox game, in which I used a Koa.js for the backend and React for the frontend.</li>
</ul>
<b>AI</b>
<ul>
    <li>Created and trained a machine learning model to predict the Olympic sport depicted in input images.</li>
    <li>Implemented reinforcement learning to train an AI to play Flappy Bird.</li>
    <li>Trained a model using Support Vector Machines to recognize characters presented as input.</li>
    <li>Developed an algorithm that automatically organizes schedules based on given restrictions, using the answer set programming (ASP) paradigm.</li>
</ul>
<b>Electronics</b>
<ul>
    <li>Designed and built a robot capable of playing (basic) football.</li>
    <li>Build a radio from basic components.</li>
</ul>