<h1>Experience</h1>

<!-- <dl>
    <dt>sofIA</dt>
    <dd>Pretty Code
        {% include prettycode.html %}</dd>
        <dd>Lolazo</dd>

    <dt>Morgawr</dt>
    <dd>A sea serpent.</dd>

    <dt>Owlman</dt>
    <dd>A giant owl-like creature.</dd>
</dl> -->
<h3>Edutecno</h3>
<b>Software Engineer</b>
<p>Engineered the frontend and backend of the AI-powered coding lesson generation feature on the Sophia website.
<!-- <br><button id="myBtn">Try it!</button> --> </p> 
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        lolazo
        <!-- {% include prettycode.html %} -->
    </div>
</div>
{% include prettycode.html %}
<b>AI Developer</b>
<p>Led a team in the implementation of Semantic Search, enabling an AI to answer questions based on a large corpus of data (.pdf, .txt, .docx, etc.)</p>
<p>Currently leading the development of an NLP model that not only provides theoretical knowledge but also enables the user to apply it in real-world situations, fulfilling the principles of teaching design.</p>

<h3>NeoSer</h3>
<b>Web Developer</b>
<p>Collaborated with the marketing team to improve the web page by updating the database, revamping the visual design, and incorporating UX/UI best practices.</p>
<b>Software Engineer</b>
<p>Developed and implemented a software that seamlessly connected store sales with the billing system through effective communication and collaboration with the finance and sales teams.</p>

<h3>MIT Human-Centered AI & Visualization Research Workshop</h3>
<b>Member of the Student Cohort</b>
<p>Attended a conference featuring lectures from MIT academics and AI experts on the topic of Human-Centered AI. Discussions included the application of AI in natural language processing, transparent AI decision-making (explain the reasoning behind AI diagnoses in medical imaging), and brain signals understanding (useful for Brain-Computer Interfaces). Additionally, learned effective methods for visualizing information. Participated in collaborative group activities where I effectively communicated and demonstrated my knowledge on the topic, fostering an inclusive environment for the exchange of ideas and contributions within the student cohort.</p>

<h3>Remarkable College Coursework Proyects</h3>
<b>Web applications</b>
<ul>
    <li>Developed a web-based carpool app for college campuses.</li>
    <li>Engineered a website and its associated database for tracking information about music artists, producers, events, and festivals.</li>
</ul>
<b>AI</b>
<ul>
    <li>Created and trained a machine learning model to predict the Olympic sport depicted in input images.</li>
    <li>Implemented reinforcement learning to train an AI to play Flappy Bird.</li>
    <li>Trained a model using Support Vector Machines to recognize characters presented as input.</li>
    <li>Developed an algorithm that automatically organizes schedules based on given restrictions, using the answer set programming (ASP) paradigm.</li>
</ul>
<b>Electronics and Robotics</b>
<ul>
    <li>Designed and built a robot capable of playing (basic) football.</li>
    <li>Build a radio from basic components.</li>
</ul>