<h1>Portfolio</h1>

<div id="pretty-code" class="project">
  <h4>AI-powered coding course generator</h4>
  <div class="content">
    <div class="description">
      <p>
        Engineered the frontend and backend of the AI-powered coding course generator feature on the Sophia website. <span class="skill">OpenaAI's API</span> was used to generate the text, and <span class="skill">Azure TTS</span> for the voice explaining the lesson. The frontend was developed with <span class="skill">Angular</span>, and the backend with <span class="skill">Azure Functions</span>.
      </p>
    </div>
    <div class="computer">
      <video class="computer-video" loop autoplay muted controls>
        <source src="{{ '/assets/videos/sofia-demo.mp4' | relative_url }}" type="video/mp4">
      </video>
    </div>
  </div>
</div>
<div id="ainstein" class="project">
  <h4>Chatbot app with personalized data and memory</h4>
  <div class="content horizontal">
    <div class="description">
      <p>
        Developed a chatbot app with <span class="skill">Flutter</span> and <span class="skill">LangChain</span> that uses a backend set up in <span class="skill">Google Cloud Platform</span> to retrieve personalized data from a vector database (<span class="skill">Milvus</span>). In order to do this, the data is vectorized, and later the chatbot uses <span class="skill">Semantic Search (RAG)</span> to retrieve the most relevant data.
      </p>
    </div>
    <div class="iphone">
      <video class="iphone-video" loop autoplay muted controls>
        <source src="{{ '/assets/videos/ainstein.mp4' | relative_url }}" type="video/mp4">
      </video>
    </div>
  </div>
</div>
<div id="maisha" class="project">
  <h4>Technical Leader of the Mobile Development team in Capstone</h4>
  <div class="content horizontal">
    <div class="iphone">
      <video class="iphone-video" loop autoplay muted controls>
        <source src="{{ '/assets/videos/maisha1.mp4' | relative_url }}" type="video/mp4">
      </video>
    </div>
    <div class="description">
      <p>
        Led a team of students in the development of a mobile product using <span class="skill">React Native</span>, for a ONG (<a href="https://www.fundacionmaisha.com/en">Maisha</a>). During this role, I not only had to showcase my technical abilities (<span class="skill">agile development</span>) but also demonstrate strong social skills like <span class="skill">time and group management</span>, <span class="skill">teamwork</span>, and <span class="skill">effective communication</span> with other teams involved in the project and the client.
      </p>
    </div>
  </div>
</div>
<div id="turnos-uc" class="project">
  <h4>Carpool website for college commute</h4>
  <div class="content">
    <div class="description">
      <p>
        Developed a web-based carpool app for college campuses using <span class="skill">Ruby on Rails</span>, using <span class="skill">Google Maps API</span>. The app allows students to create and join carpool trips to go to college campus.
      </p>
    </div>
    <div class="computer">
      <video class="computer-video" loop autoplay muted controls>
        <source src="{{ '/assets/videos/turnos-uc.mp4' | relative_url }}" type="video/mp4">
      </video>
    </div>
  </div>
</div>
<div id="recognaize" class="project">
  <h4>Image recognition app</h4>
  <div class="content horizontal">
    <div class="description">
      <p>
        Using an AI algorithm (<a href="https://en.wikipedia.org/wiki/K-nearest_neighbors_algorithm">KNN</a>) in a backend set up in <span class="skill">Firebase</span>, I developed an app with <span class="skill">Flutter</span> that recognizes if an input image is present inside another.
      </p>
    </div>
    <div class="iphone">
      <video class="iphone-video" loop autoplay muted controls>
        <source src="{{ '/assets/videos/recognaize.mp4' | relative_url }}" type="video/mp4">
      </video>
    </div>
  </div>
</div>