
<pre class="prettyprint">
    <p style="display: none;">def Fibonacci(n):
    if n < 1:
        print("Incorrect input")
    elif n == 1:
        return 0
    elif n == 2:
        return 1 <span class="nocode">^1000 </span></p><p style="display: none;">def Fibonacci(n):
    if n < 1:
        print("Incorrect input")
    elif n < 3:
        return n - 1
    return Fibonacci(n - 1) + Fibonacci(n - 2)<span class="nocode">^2000 </span></p>
</pre>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?skin=sunburst"></script>
<script>
    function loadScript(){
        var script = document.createElement("script");
        script.src = "assets/js/typed.js";
        document.head.appendChild(script);
    }
    setTimeout(loadScript, 500);
</script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

