---
---

@import "{{ site.theme }}";

:root {
    --primary-color: lightsteelblue;
    --secondary-color: midnightblue;
    --tertiary-color: rgb(206,226,252);
    --white: #ffffff;
    --title-color: black;
	--subtitle-color: rgb(68,79,196);
    --text-color: rgb(69,69,69);
  }

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif !important;
    font-size: 1em;
    /* font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0; */
}

footer {
    display: flex;
    justify-content: center;
}

h1 {
    color: var(--title-color);
}

h2, h3, h4 {
	color: var(--secondary-color);
}

p {
	text-align: justify;
	text-justify: inter-word;
}

a {
    color: var(--secondary-color) !important;
}

.logo {
    border-radius: 10px;
}

a:has(.fa) {
	margin-left: 20px;
	margin-right: 20px;
}

.fa {
    color: grey;
}

.fa:hover {
    color: black;
}

.study-job div {
	display: flex;
}

.study-job div span:nth-of-type(1) {flex-basis: 70%;}
.study-job div span:nth-of-type(2) {flex-basis: 30%;}

.study-job div span:first-of-type {
	text-align: right;
	padding-right: 5px;
}

.study-job div span:last-of-type {
	padding-left: 5px;
}

.prettyprint {
    font-size: 0.8em;
    height: 140px;
}

.typed-cursor {
    color: white;
}

.index {
    margin: auto;
    width: 50%;
	margin-top: 10%;
    font-weight: bold;
}

.index .tablinks {
    text-align: center;
    margin-bottom: -25px;
    color: var(--title-color);
}

.index .tablinks:hover {
    font-size: 110%;
    cursor: pointer;
    background-color: var(--tertiary-color);
    border-radius: 10px;
}

.index .tablinks.active, .highlighted-text {
	margin-left: 1px;
	margin-right: 1px;
    color: var(--tertiary-color);
    text-shadow: 1px 1px 0 var(--title-color),
    -1px 1px 0 var(--title-color),
    1px -1px 0 var(--title-color),
    -1px -1px 0 var(--title-color),
    0px 1px 0 var(--title-color),
    0px -1px 0 var(--title-color),
    -1px 0px 0 var(--title-color),
    1px 0px 0 var(--title-color),
    2px 2px 0 var(--title-color),
    -2px 2px 0 var(--title-color),
    2px -2px 0 var(--title-color),
    -2px -2px 0 var(--title-color),
    0px 2px 0 var(--title-color),
    0px -2px 0 var(--title-color),
    -2px 0px 0 var(--title-color),
    2px 0px 0 var(--title-color),
    1px 2px 0 var(--title-color),
    -1px 2px 0 var(--title-color),
    1px -2px 0 var(--title-color),
    -1px -2px 0 var(--title-color),
    2px 1px 0 var(--title-color),
    -2px 1px 0 var(--title-color),
    2px -1px 0 var(--title-color),
    -2px -1px 0 var(--title-color);
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}


/* Useless */

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

$configs: (
	chart-one: (
		svgSize: 200px,
		percentage: 25,
		strokeWidth: 1px,
		backgroundColor: #305556,
		foregroundColor: #79be9b,
		labelColor: #c6e8d7,
		labelFontSize: 2.5rem,
		duration: 3s,
		animationDelay: 1s
	),
	chart-two: (
		svgSize: 200px,
		percentage: 50,
		strokeWidth: 15px,
		backgroundColor: #305556,
		foregroundColor: #d0f09e,
		labelColor: #c6e8d7,
		labelFontSize: 2.5rem,
		duration: 3s,
		animationDelay: 1s
	),
	chart-three: (
		svgSize: 80px,
		percentage: 75,
		strokeWidth: 10px,
		backgroundColor: #305556,
		foregroundColor: #389967,
		labelColor: #305556,
		labelFontSize: 1.5rem,
		duration: 3s,
		animationDelay: 1s
	)
);

$pi: 3.14;
$labelData: '';
@for $i from 0 to 101 {
	$labelData: $labelData + $i + '%' + '\a';
}

@each $chart, $param in $configs {
	
	$c: (map-get($param, svgSize) - map-get($param, strokeWidth)) * $pi;
	$cOffSet: (map-get($param, percentage)/100)*$c;
	
	.#{$chart} {
		width: map-get($param, svgSize);
		height: map-get($param, svgSize);
		margin: 0;
		position: relative;
		
		&.animate {
			svg .circle-foreground {
				animation: offset map-get($param, duration) ease-in-out forwards;
				animation-delay: map-get($param, animationDelay);
			}
			figcaption:after {
				animation: #{$chart}-label map-get($param, duration) steps(map-get($param, percentage)) forwards;
				animation-delay: map-get($param, animationDelay);
			}
		}

		svg {
			width: 100%;
			height: 100%;
			.circle-background {
				r: (map-get($param, svgSize) - map-get($param, strokeWidth))/2;
				cx: 50%;
				cy: 50%;
				fill: none;
				stroke: map-get($param, backgroundColor);
				stroke-width: map-get($param, strokeWidth);
			}
			.circle-foreground {
				@extend .circle-background;
				stroke: map-get($param, foregroundColor);
				stroke-dasharray: $cOffSet $c;
				stroke-dashoffset: $cOffSet;
				stroke-linecap: round;
				transform-origin: 50% 50%;
				transform: rotate(-90deg);
			}
		}
		figcaption {
			display: inline-block;
			width: 100%;
			height: map-get($param, labelFontSize);
			overflow: hidden;
			text-align: center;
			color: map-get($param, labelColor);
			position: absolute;
			top: calc(50% - #{map-get($param, labelFontSize)/2});
			left: 0;
			font-size: 0;
			&:after {
				display: inline-block;
				content: $labelData;
				white-space: pre;
				font-size: map-get($param, labelFontSize);
				line-height: map-get($param, labelFontSize);
			}
		}
	}
	@keyframes #{$chart}-label {
		100% {
			transform: translateY(map-get($param, labelFontSize) * (-(map-get($param, percentage))));
		}
	}
}
@keyframes offset {
	100% {
		stroke-dashoffset: 0;
	}
}
